<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User-event-management-system</title>
  <!-- bootstrap 5.1 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
    integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
    crossorigin="anonymous"></script>
  <meta name="theme-color" content="#7952b3">

  <!--external css -->
  <link href="/index.css" rel="stylesheet">

</head>

<body>
  <header>
    <nav class="navbar">
      <div class="row w-75 mx-auto">
        <div class="col-lg-11 p-2 mx-auto">

          USER EVENT MANAGEMENT SYSTEM
         
        </div>
       
      </div>
    </nav>
  </header>